
<!DOCTYPE html>
<html lang="pt-br">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='formulario.css') }}" />

<head>
    <meta charset="UTF-8">
    <title>Formulário de Aptidão para Doação de Sangue</title>
</head>
<body>

    <h2>Perguntas:</h2>

    <form action="/salvar_formulario" method="POST">
        <div>
            <p>1. Sua saúde está boa esse mês?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta1" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta1" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>2. Você tem entre 16 e 69 anos?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta2" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta2" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>3. Você pesa no mínimo 50kg?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta3" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta3" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>4. Dormiu por pelo menos 6 horas essa noite?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta4" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta4" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>5. Você se alimentou antes de doar sangue?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta5" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta5" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>6. Evitou comida gordurosa nas últimas 24 horas?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta6" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta6" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>7. Está portando documento original e oficial com foto recente/atualizada?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta7" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta7" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>8. Para mulheres: Está há pelo menos 90 dias sem doar sangue?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta8" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta8" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>9. Para mulheres: Você já excedeu o limite de quatro doações de sangue nos últimos 3 meses?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta9" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta9" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>10. Para homens: Está há pelo menos 60 dias sem doar sangue?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta10" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta10" value="Não"> Não
                </label>
            </div>
        </div>

        <div>
            <p>11. Para homens: Você já excedeu o limite de quatro doações de sangue nos últimos 3 meses?</p>
            <div>
                <label>
                    <input type="radio" name="pergunta11" value="Sim"> Sim
                </label>
                <label>
                    <input type="radio" name="pergunta11" value="Não"> Não
                </label>
            </div>
        </div>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
