
    <body><nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                <img src="https://www.gov.br/infraestrutura/pt-br/acesso-a-informacao/air/aviao.png" alt="..." height="36">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">


                     <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('sair') }}">
                            Logout
                        </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>