
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
       
    <!-- Style -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='termodoador.css') }}">
    <!-- GOOGLE ADSENSE -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4729289402151385"
     crossorigin="anonymous"></script>
    <title>Termos de Uso</title>
  </head>
  
  <body>
      <div class="wrap">
        <div class="wrapper1">
          <div class="wrapper2">
            <h1>Termos de Uso</h1>
            <p><h3><em>Para acessar esse portal você deve aceitar os seguintes termos e condições</em></h3></p>

            <br>
            <ul>
              <li>Você deve se comprometer a preencher os formulários de entrevista com informações     <li>Você deve se comprometer a comparecer ao centro de doação no dia marcado para realizar os exames obrigatórios pré-doação</li>
              <li>Você deve se comprometer a pagar a taxa de realização de exames caso tenha agendado os exames em um centro médico que cobra essa taxa</li>
              <li>Você deve se comprometer a deixar informações atualizadas de contato no perfil, principalmente em relação ao e-mail cadastrado no portal</li>
              <li>Você deve acompanhar o portal para receber respostas do centro médico sobre aprovação/reprovação dos formulários, marcação de exames ou doações e recebimento dos resultados dos exames</li>
              <li>Você deve estar ciente de que suas informações relativas ao sangue, a doaçoes ou ao perfil de usuário podem ser usadas para auxiliar pesquisas médicas e científicas</li>
              <li>Você deve estar ciente de que o nosso portal é apenas um facilitador de acesso entre doadores e centros médicos, não nos responsabilizamos por eventuais faltas causadas por doadores ou por centros médicos</li>
              <li>Você deve registrar apenas informações reais no nosso portal, informações falsas/fraudulentas estarão sujeitas a denúncias e processos judiciais</li>
              <li>Você é responsável por qualquer erro de resposta ou marcação relativo aos formulários fornecidos pelo portal</li>
              <li>Você é responsável por comparecer ao centro médico no dia marcado e no horário agendado para realizar a doação</li>
            </ul>
            <br>
            <form action="/aceitar_termos" method="post" class="signup">
        <input type="hidden" name="user_id" value="{{ user_id }}">
        <input type="checkbox" id="accept-terms" name="accept-terms" required>
        <label for="accept-terms"><strong>Eu aceito os termos de uso</strong></label><br><br>
        <input type="submit" value="Confirmar">
    </form>



          </div>
        </div>
    </div>
     
  </body>
</html>