<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
       
    <!-- Style -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='termocentro.css') }}">

    <title>Termos de Uso</title>
  </head>
  
  <body>
      <div class="wrap">
        <div class="wrapper1">
          <div class="wrapper2">
            <h1>Termos de Uso</h1>
            <p><h3><em>Para acessar esse portal você deve aceitar os seguintes termos e condições</em></h3></p>

            <br>
            <ul>
              <li>Você deve se comprometer a analisar e dar feedbacks(aprovação ou reprovação) relativos aos formulários de entrevista preenchidos pelos usuários</li>
              <li>Você deve se comprometer a entregar os resultados dos exames de sangue digitalmente aos seus respectivos usuários através do nosso portal com rapidez e transparência</li>
              <li>Você deve se comprometer a informar se existe alguma cobrança realizada pelos exames necessários pré-doação e deixar claro qual é esse valor</li>
              <li>Você deve se comprometer a deixar informações atualizadas de e-mail, telefone e endereço</li>
              <li>Você deve fazer a entrevista de doador de forma remota através da análise e aprovação dos formulários de entrevista emitidos pelos usuários</li>
              <li>Você deve registrar apenas informações reais no nosso portal, informações falsas/fraudulentas estarão sujeitas a denúncias e processos judiciais</li>
              <li>Você deve estar ciente de que o nosso portal é apenas um facilitador de acesso entre doadores e centros médicos, não nos responsabilizamos por eventuais faltas causadas por doadores ou por centros médicos</li>
              <li>Você é responsável por qualquer erro de análise ou correção relativo aos formulários preenchidos pelos usuários</li>
              <li>Você é responsável por agendar, aplicar exames, atender e entregar os resultados aos usuários</li>
            </ul>
            <br>

            <form action="#" class="signup">
              <input type="checkbox" id="accept-terms" name="accept-terms" required>
              <label for="accept-terms"><strong>Eu aceito os termos de uso</strong></label><br><br>
              <input type="submit" value="Confirmar" formaction="cadastro">
            </form>

          </div>
        </div>
    </div>
     
  </body>
</html>